<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <JDBC name="DBAppender" tableName="logs">
            <!--This assumes we are running in a container that provides the datasource under the given name THIS IS THE PREFERRED WAY-->
            <!--<DataSource jndiName="java:/comp/env/jdbc/LoggingDataSource" />-->
            <!--And this one uses a hand made connection factory-->
            <ConnectionFactory class="com.greenfoxacademy.playlogs.ConnectionFactory" method="getConnection" />
            <Column name="dated" isEventTimestamp="true" />
            <Column name="logger" pattern="%logger" />
            <Column name="level" pattern="%level" />
            <Column name="message" pattern="%message" />
            <!-- user Id SHOULD be coming from Thread Context instead of hardcoding it -->
            <Column name="user_id" pattern="USER" />
        </JDBC>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="DBAppender"/>
        </Root>
    </Loggers>
</Configuration>
